@charset "UTF-8";

/* FONTES */

@import url('https://fonts.googleapis.com/css2?family=Amethysta&display=swap');

@font-face {
    font-family: "Javanese Text";
    src: url(javanese-text.ttf);
}

@font-face {
    font-family: "JejuGothic";
    src: url(JejuGothic-Regular.ttf);
}

:root {
    --fonte-cab: "Amethysta", serif;
    --fonte-padrao: "Javanese Text", serif; 
}

* {
    font-family: var(--fonte-padrao);
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-size: 100%;
    background-color: #1E1E1E;
}



.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    padding-right: 0px;

}

.cabecalho-titulo {
    position: relative;
    top: auto;
    left: 80px;
    font-family: var(--fonte-cab);
    font-weight: 400;
    font-size: 92px;
    text-transform: uppercase;
}

.cabecalho-imagem {
    display: flex;
    width: 125.49px;
    height: 120px;
    border-radius: 12px;
}

.cabecalho-menu {
    display: flex;
    gap: 64px;
}

.cabecalho-menu-item {
    font-size: 2.5em;
}

.cabecalho-menu-item:hover {
    background-color: #ffffff2c;
    transition: 0.2s;
    border-radius: 20px;
    height: 80px;
}

.conteudo-principal-redes {
    background-color: #353535;
    border-radius: 20px;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
}

.conteudo-principal-sites {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    gap: 64px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.conteudo-principal-texto-titulo {
    font-family: JejuGothic;
    font-weight: 400;
    font-size: 2.5em;
    text-align: center;
}

.rodape {
    margin-top: auto;
    width: 100%;
}

.rodape-creditos {
    text-align: center;
}




@media screen and (max-width: 1248px) {
    .cabecalho {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 0;
    }

    .cabecalho-titulo {
        position: inherit;
        text-align: center;
    }

    .cabecalho-menu-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .cabecalho-imagem {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .conteudo-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: auto;
        padding: 0;
    }

    .conteudo-principal-texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: auto;
        padding: 0;
        width: 400px;
    }


    .conteudo-principal-imagem {
        margin-right: 0;
        margin-left: 0;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .conteudo-principal-redes {
        width: 400px;
        margin-top: 100px;
    }

    .conteudo-principal-sites {
        gap: 18px;
    }

}

@media screen and (max-width: 620px) {
    .conteudo-principal-texto {
        max-width: 500px;
    }
}

@media screen and (min-width: 1400px) {
    .cabecalho {
        width: 100%;
        margin: auto;
        margin-top: 0;
    }

    .conteudo-principal {
        width: 100%;
        max-width: 1870px;
        margin: auto;
        margin-top: 0;
    }
  }

